P-010/latihan1 copy.py
P-010/latihan2 copy.py
P-010/latihan3 copy.py
P-010/daftar_metode_string.py
P-010/tugasAzzam_revisi.py
P-010/tugasAzzam.py
P-010/tugasFaiz_revisi.py
P-010/tugasFaiz.py
catatan.txt
P-011/aktivitas.docx
P-011/aktivitas.log
P-011/catatan.py
P-011/catatan.txt
P-011/latihan1.py
P-011/latihan2.py
P-011/latihan3.py
P-011/latihan4.py
P-011/latihan5.py
P-011/tes.py
P-011/__pycache__/catatan.cpython-313.pyc
P-011/backup/backup_20250703_140338.txt
P-011/backup/backup_20250703_140859.txt
P-011/backup/backup_20250703_141026.txt
P-011/backup/backup_20250703_141508.txt
