P-010/latihan1 copy.py
P-010/latihan2 copy.py
P-010/latihan3 copy.py
P-010/daftar_metode_string.py
P-010/tugasAzzam_revisi.py
P-010/tugasAzzam.py
P-010/tugasFaiz_revisi.py
P-010/tugasFaiz.py
catatan.txt
P-011/aktivitas.docx
P-011/aktivitas.log
P-011/catatan.py
P-011/catatan.txt
P-011/latihan1.py
P-011/latihan2.py
P-011/latihan3.py
P-011/latihan4.py
P-011/latihan5.py
P-011/tes.py
P-011/__pycache__/catatan.cpython-313.pyc
P-011/backup/backup_20250703_140338.txt
P-011/backup/backup_20250703_140859.txt
P-011/backup/backup_20250703_141026.txt
P-011/backup/backup_20250703_141508.txt
P-013/catatan-harian-api-002/.env
P-013/catatan-harian-api-002/.env.example
P-013/catatan-harian-api-002/alembic.ini
P-013/catatan-harian-api-002/readme.md
P-013/catatan-harian-api-002/requirements.txt
P-013/catatan-harian-api-002/alembic/env.py
P-013/catatan-harian-api-002/alembic/README
P-013/catatan-harian-api-002/alembic/script.py.mako
P-013/catatan-harian-api-002/alembic/__pycache__/env.cpython-313.pyc
P-013/catatan-harian-api-002/alembic/versions/14b527daa4e0_initial_migration.py
P-013/catatan-harian-api-002/alembic/versions/__pycache__/14b527daa4e0_initial_migration.cpython-313.pyc
P-013/catatan-harian-api-002/app/main.py
P-013/catatan-harian-api-002/app/__pycache__/config.cpython-313.pyc
P-013/catatan-harian-api-002/app/__pycache__/main.cpython-313.pyc
P-013/catatan-harian-api-002/app/configuration/config.py
P-013/catatan-harian-api-002/app/configuration/__pycache__/__init__.cpython-313.pyc
P-013/catatan-harian-api-002/app/configuration/__pycache__/config.cpython-313.pyc
P-013/catatan-harian-api-002/app/database/__init__.py
P-013/catatan-harian-api-002/app/database/connection.py
P-013/catatan-harian-api-002/app/database/__pycache__/__init__.cpython-313.pyc
P-013/catatan-harian-api-002/app/database/__pycache__/connection.cpython-313.pyc
P-013/catatan-harian-api-002/app/models/note_model.py
P-013/catatan-harian-api-002/app/models/__pycache__/note_model.cpython-313.pyc
P-013/catatan-harian-api-002/app/routes/note_routes.py
P-013/catatan-harian-api-002/app/routes/__pycache__/note_routes.cpython-313.pyc
P-013/catatan-harian-api-002/app/schemas/note_schema.py
P-013/catatan-harian-api-002/app/schemas/__pycache__/note_schema.cpython-313.pyc
P-013/catatan-harian-api-002/app/services/note_crud.py
P-013/catatan-harian-api-002/app/services/__pycache__/note_crud.cpython-313.pyc
P-013/catatan-harian-api-002/tests/test_note_routes.py
P-013/catatan-harian-api-002/tests/__pycache__/test_note_routes.cpython-313-pytest-8.4.1.pyc
.gitignore

P-019/frontend/frontend.zip
P-019/frontend/app copy.py
